@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #F1F2B5;
    background: -webkit-linear-gradient(to left, #135058, #F1F2B5);
    background: linear-gradient(to right, #135058, #F1F2B5);

    


}

.header {
    font-size: 3rem;
    color: #dff9fb;
    text-align: center;
    padding: 15px 0px;
    font-family: 'Montserrat', sans-serif;
    animation: mytext 1s linear infinite alternate forwards;
}
@keyframes mytext {
    0%{ font-weight: 100; }
    10%{ font-weight: 200; }
    20%{ font-weight: 300; }
    30%{ font-weight: 400; }
    40%{ font-weight: 500; }
    50%{ font-weight: 600; }
    60%{ font-weight: 700; }
    70%{ font-weight: 800; }
    80%{ font-weight: 900; }
    90%{ font-weight: 1000; }
    100%{ font-weight: 100; }
}

.box2 {
    width: 50%;
    height: 60vh;
    margin: 10px auto;
    border-radius: 10px;
    border-radius: 10px;
    position: relative; 
    color: white;       
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.question {
    width: 60%;
    height: 60vh;
    padding: 150px 20px;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Raleway', sans-serif;
    word-spacing: 3px;
    font-weight: bold;
}
.question-header {
    font-size: 1.5rem;
    padding: 100px 20px;
    word-spacing: 4px;
    font-family: 'Raleway', sans-serif;
} 
.answer {
    height: 60vh;
    border-left: 2px solid white;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
.answer-key {
    width: 90%;
    height: 5vh;
    border-radius: 7px;
    outline: none;
    margin: 20px 0px;
    font-size: 0.9rem;
    border: none;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: consolas;
    cursor: pointer;
    transition: 0.3s linear;
}
.answer-key:hover {
    background-color: #075fd3;
    color: #c7ecee;
    
}

@media(max-width: 450px) {
    .box2 {
        width: 100%;      
    }
    .answer-key {
        margin: 20px 0px;
    }
    .container {
        background: #e6dada;
        background: -webkit-linear-gradient(to top, #e6dada, #274046);
        background: linear-gradient(to top, #e6dada, #274046);
    }
}

@media(max-width: 600px) and (min-width: 450px) {
    .box2 {
        width: 100%;      
    }
    .answer-key {
        margin: 20px 0px;
    }
}
@media(max-width: 768px) and (min-width: 601px) {
    .box2 {
        width: 90%;      
    }
    .answer-key {
        margin: 20px 0px;
    }
}